
<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Tether -->
<script src="/js/tether.min.js"></script>
<!-- Bootstrap 4 -->
<!--<script src="/js/bootstrap.min.js"></script>-->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- SlimScroll -->
<script src="/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
</body>
</html>
