<!DOCTYPE html>
<html>
<head>
	<title>Email</title>
</head>
<body>

<form method="post" action="http://localhost:4000/email">
<label>mailto</label><input type="button" name="lmailto"><br>
<label>subject</label><input type="button" name="lsubject"><br>
<input type="submit" value="Submit" name="">
</form>
</body>
</html>